.toolbar .toolbar-item .toolbar-button.cycle {
  width: 50px;
  height: 100%;
  min-width: 30px;
  padding: 0 15px;
  flex-direction: column;
  gap: 7px;
  border-radius: var(--border-radius-s);

  .toolbar-icon {
    font-size: 14px;
  }
}

.cycle-dots {
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.cycle-dot {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--border-color-4);
  transition: background-color 150ms;

  &.active {
    background-color: var(--accent-color);
  }
}
