.popout-anchor {
  position: relative;
  display: inline-flex;
}

.popout-box {
  position: absolute;
  z-index: 1000;
}

.popout-inner {
  width: 260px;
  border-radius: var(--border-radius-s);
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow-2);
  border: 1px solid var(--border-color-1);
  background-color: var(--bg-1);
}

.popout-title {
  padding: 15px 20px 0 20px;
  font-size: 14px;
  font-weight: 800;
  color: var(--text-color-1);
  text-transform: uppercase;
}

.popout-icon-trigger {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  background: none;

  &::before {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    background: var(--bg-3);
    transition: opacity 200ms;
  }

  &:hover::before, &.open::before {
    opacity: 0.8;
  }

  &.open .fa-icon {
    color: var(--accent-color);
  }

  .fa-icon {
    position: relative;
    z-index: 2;
    font-size: 19px;
    color: var(--text-color-3);
    transition: all 300ms;
    transform: scale(1);
  }
}
