.text-input {

  &.size-m {
    
    input {
      padding: 12px 16px;
    }
  }

  &.size-l {
    
    input {
      padding: 12px 16px;
    }
  }

  input {
    min-width: 240px;
    color: var(--text-color-1);
    font-size: 15px;
    font-weight: 500;
    border: 1px solid var(--border-color-1);
    border-radius: var(--border-radius);
    background: var(--input-bg);

    &:focus {
      border-color: var(--border-color-focus);
      outline: none;
    }
  }
}
