main {
  height: 100%;
}

.appPage {
  height: 100%;
  padding-bottom: var(--gutter);
}

.photosArchive {
  height: 100%;
  position: relative;

  .page-title-bar {
    padding-left: 20px;
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .toolbar {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    z-index: 2;
  }

  .infinitePhotos {
    height: 100%;
    position: relative;
  }
}
